{% load static %}

  <!-- plugins:js -->
  <script src="{% static 'auth/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'auth/vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'auth/vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{% static 'auth/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'auth/js/dataTables.select.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'auth/js/off-canvas.js' %}"></script>
  <script src="{% static 'auth/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'auth/js/template.js' %}"></script>
  <script src="{% static 'auth/js/settings.js' %}"></script>
  <script src="{% static 'auth/js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'auth/js/dashboard.js' %}"></script>
  <script src="{% static 'auth/js/Chart.roundedBarCharts.js' %}"></script>
  <script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });

        $("#remove").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });

    }, 10000);
</script>