{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item {% if request.path == '/auth/dashboard' %} active {% endif %} ">
        <a class="nav-link" href="{% url 'auth:dashboard' %}">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard </span>
        </a>
      </li>

      {% if request.user.is_staff %}

      <li class="nav-item {% if request.path == '/auth/manage_student/' or request.path == '/auth/create_student/' %}active{% endif %}">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Student Accounts</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'auth:create_student' %}">Create Accounts</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'auth:manage_student' %}">Manage Accounts</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item {% if request.path == '/auth/manage_test/' or request.path == '/auth/schedule_test/' %}active{% endif %}">
        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
          <i class="icon-columns menu-icon"></i>
          <span class="menu-title">Medical Test</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'auth:schedule_test' %}">Schedule Test</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'auth:manage_test' %}">Manage Test</a></li>
          </ul>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auth:view_test' %}">
          <i class="icon-columns menu-icon"></i>
          <span class="menu-title">View Test Date</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="pages/documentation/documentation.html">
          <i class="icon-columns menu-icon"></i>
          <span class="menu-title">View Result</span>
        </a>
      </li>

      {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="pages/documentation/documentation.html">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" data-toggle="modal" data-target="#basicModal">
          <i class="ti-power-off menu-icon"></i>
          <span class="menu-title">Logout</span>
        </a>
      </li>
    </ul>
  </nav>

