{% extends 'base.html' %}

{% load static %}
{% block title %}Test Scheduler and Issuance System{% endblock title %}
{% block head %}{% include 'partials/head.html' %}{% endblock head %}
{% block body %}
	{% block nav %} {% include 'partials/nav.html' %} {% endblock %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Welcome to MedTest</h1>
      <h2>We enables admitted students to view schedule medical tests conveniently</h2>
      <a href="{% url 'auth:login' %}" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose MedTest?</h3>
              <p>
                The aim of the research work is to develop a Web-Based Student Medical Test Scheduler and Result Issuing System to eliminate student waiting time during registration.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Get Started <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Objective 1</h4>
                    <p>To design a web based medical test scheduler that enables admitted students schedule online for their medical tests conveniently</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Objective 2</h4>
                    <p>To implement this system that also serves as a result issuer</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Objective 3</h4>
                    <p>To evaluate the benefit and the advantages this system will have over the pre-existing traditional way of scheduling these medical tests</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

  </main><!-- End #main -->

  {% block footer %}{% include 'partials/footer.html' %}{% endblock footer %}

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% block script %}{% include 'partials/script.html' %}{% endblock script %}

{% endblock body %}